.modal__close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.modal__close:hover {
    width: 24px;
    height: 24px;
    transition: 0.5s ease-in-out;
}

.form__btn {
    height: 39px;
    background: var(--btn-color, #6D5BD0);
    border-radius: 6px;
    border: 2px solid var(--btn-color, #6D5BD0);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--btn-text-color, #FFFFFF);
}

.form__btn:hover {
    background: #4f4297;
    border: 2px solid #4f4297;
}

.form__btn:active, .form__btn:focus {
    border: 2px solid var(--btn-color, #6D5BD0);
    background: var(--btn-text-color, #FFFFFF);
    color: var(--btn-color, #6D5BD0);
}

.form__btn_download {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    font-size: 14px;
    line-height: 17px;
}

.form__btn_submit {
    width: 200px;
}