.modal {
    /* padding-top: 100px; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    /* visibility: hidden;
    opacity: 0; */
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal__wrapper {
    position: relative;
    max-width: 792px;
    margin: 0 auto;
    min-height: 613px;
    background: #F2F0F9;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 32px 106px 39px 106px;
    z-index: 10;
}

.modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.modal__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.modal__title_edit {
    display: none;
}

.modal__id {
    width: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__desr {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #C5C5C5;
}

.modal__line {
    display: block;
    width: 100%;
    height: 1px;
    background: #C6C2DE;
    margin-bottom: 21px;
}

.modal__error {
    position: absolute;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
    background: #F2F0F9;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    z-index: 20;
    padding-top: 109px;
    display: none;
}

.modal__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 33px;
}

.modal__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.75;
}